.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightcyan;
  }
  
  .loginForm {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loginForm h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .loginForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginForm button {
    width: 100%;
    padding: 10px;
    background-color:darkcyan;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loginForm button:hover {
    background-color: #218838;
  }
  